body {
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#container {
  width: 360px;
  border: 1px solid blueviolet;
  margin: auto;
}

#profile img {
  display: block;
  width: 112px;
  margin: auto;
}
